.leaflet-tracksymbol-label {
	background: rgb(220,220, 220);
	background: rgba(220, 220, 220, 0.9);
	background-clip: padding-box;
	border-color: rgb(150,150,150);
	border-color: rgba(150,150,150,0.90);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: #111;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-tracksymbol-label .leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}

.leaflet-tracksymbol-label:before,
.leaflet-tracksymbol-label:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: none;
	position: absolute;
	top: 5px;
}

.leaflet-tracksymbol-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	left: -7px;
}

.leaflet-tracksymbol-label:after {
	border-left: 6px solid black;
	border-left-color: inherit;
	right: -7px;
}

.leaflet-tracksymbol-label-right:before,
.leaflet-tracksymbol-label-left:after {
	content: "";
}
